html, body {
  font-family: 'Lato', sans-serif;
  margin: 10px;
}

section {
  display: block;
}

heading {
  display: block;
  font-size: 150%;
  margin: 10px 0 10px 0;
}

games {
  display: block;
}

games > game {
  display: block;
  margin: 0 0 5px 0;
}

stats > section > heading {
  font-size: 130%;
}

stat {
  display: block;
  background: #DDD;
  padding: 5px;
  margin: 5px 0;
}

stat > label {
  display: inline-block;
  width: 240px;
}

stat > value {
  font-weight: bold;
}

stat > percentage::before {
  content: ' ('
}

stat > percentage::after {
  content: ')'
}

description {
  display: block;
}

description > p {
  margin: 5px 0 10px 0;
}

.hidden {
  display: none;
}
