<!DOCTYPE html>
<html>
<head>
  <title>{{game.name}} - Board Games Browser</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" type="text/css">
  <link rel="stylesheet" href="/design/reset.css" type="text/css">
  <link rel="stylesheet" href="/design/style.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

<navigation><a href="/">&larr; Back</a></navigation>

<heading>{{game.name}}</heading>

<stats>
  <stat>
    <label>Total Games Played</label>
    <value>{{game.totalGamesPlayed}}</value>
  </stat>

  {{#if game.coOpGamesPlayedCount}}
  <heading>Co Op Stats</heading>
  <stat>
    <label>Co Op Games Played (Total)</label>
    <value>{{game.coOpGamesPlayedCount}}</value>
  </stat>
  <stat>
    <label>Co Op Games Played (%)</label>
    <value>{{game.coOpGamesPlayedPercentage}}</value>
  </stat>
  <stat style="width: {{game.coOpWinRate}}">
    <label>Won</label>
    <value>{{game.coOpGameWins}}</value>
    <percentage>{{game.coOpWinRate}}</percentage>
  </stat>
  <stat style="width: {{game.coOpLossRate}}">
    <label>Lost</label>
    <value>{{game.coOpGameLoses}}</value>
    <percentage>{{game.coOpLossRate}}</percentage>
  </stat>
  {{/if}}

  {{#if game.winnableGamesTotal}}
  <heading>Competitive Stats</heading>
  <stat>
    <label>Competitive Games (Total)</label>
    <value>{{game.winnableGamesTotal}}</value>
  </stat>
  <stat>
    <label>Hannah</label>
    <value>{{game.winCountHannah}}</value>
    <percentage>{{game.winRateHannah}}</percentage>
  </stat>
  <stat>
    <label>John</label>
    <value>{{game.winCountJohn}}</value>
    <percentage>{{game.winRateJohn}}</percentage>
  </stat>
  <stat>
    <label>Draw</label>
    <value>{{game.winCountDraw}}</value>
    <percentage>{{game.winRateDraw}}</percentage>
  </stat>
  <stat>
    <label>Other</label>
    <value>{{game.winCountOther}}</value>
    <percentage>{{game.winRateOther}}</percentage>
  </stat>
  <stat>
    <label>Most Won Games</label>
    <value>{{game.mostWonGames}}</value>
  </stat>
  {{/if}}

</stats>
</body>
</html>
